</h2>New Bulk Discount</h2>
<p>Max Percentage off allowed is 50%</p>
<p>Max Bulk Limit is 20 items.</p>

<%= render partial: 'form', locals: { path: merchant_discounts_path, method: :post, button_text: 'Create Bulk Discount' } %>
